<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lq0578.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FAC0A40F1C6E0A570014CC2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAC0A4281C6E0A580014CC2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAC0A4331C6E0A580014CC2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
