<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>taobaoConnect</key>
		<string></string>
		<key>phoneNumber</key>
		<string>187768196642</string>
		<key>origionalPrice</key>
		<string>     大唐 · 龙泉青瓷</string>
		<key>detailMessage</key>
		<string>大唐·龙泉青瓷。中高端生活用瓷领导品牌！地址：龙泉青瓷宝剑园区大唐青瓷厂。</string>
		<key>imageurl</key>
		<string>datangChina6</string>
		<key>imageNameArr</key>
		<array>
			<string>datangChina5</string>
			<string>datangChina</string>
			<string>datangChina1</string>
			<string>datangChina6</string>
		</array>
	</dict>
	<dict>
		<key>taobaoConnect</key>
		<string></string>
		<key>phoneNumber</key>
		<string>1</string>
		<key>origionalPrice</key>
		<string>       唐人刀剑</string>
		<key>detailMessage</key>
		<string>唐人刀剑 是专门生产工艺刀剑及生活用品类刀具 的老字号商家</string>
		<key>imageurl</key>
		<string>lqsword2</string>
		<key>imageNameArr</key>
		<array>
			<string>lqsword2</string>
			<string>lqsword3</string>
			<string>lqsword1</string>
			<string>lqsword5</string>
		</array>
	</dict>
	<dict>
		<key>taobaoConnect</key>
		<string></string>
		<key>phoneNumber</key>
		<string>18768196642</string>
		<key>origionalPrice</key>
		<string>市场价：¥88.88</string>
		<key>detailMessage</key>
		<string>2.06-5.01 新茶上市！接受预定，在线支付更便宜。赶紧下单吧！亲~ </string>
		<key>imageurl</key>
		<string>tea5</string>
		<key>imageNameArr</key>
		<array>
			<string>lqtea3</string>
			<string>tea5</string>
			<string>lqtea1</string>
			<string>lqtea2</string>
		</array>
	</dict>
	<dict>
		<key>taobaoConnect</key>
		<string>https://1818ci.taobao.com/</string>
		<key>phoneNumber</key>
		<string></string>
		<key>origionalPrice</key>
		<string>正武刀剑</string>
		<key>detailMessage</key>
		<string>公司位于龙泉市剑池西路313号(宝剑园区内)  </string>
		<key>imageurl</key>
		<string>zwswords1</string>
		<key>imageNameArr</key>
		<array>
			<string>zwswords1</string>
			<string>zwswords2</string>
			<string>zwswords3</string>
			<string>zwswords5</string>
		</array>
	</dict>
	<dict>
		<key>taobaoConnect</key>
		<string></string>
		<key>phoneNumber</key>
		<string></string>
		<key>origionalPrice</key>
		<string>市场价：¥88.88</string>
		<key>detailMessage</key>
		<string>2.06-5.01 新茶上市！接受预定，在线支付更便宜。赶紧下单吧！亲~ </string>
		<key>imageurl</key>
		<string>tea5</string>
		<key>imageNameArr</key>
		<array>
			<string>datangChina5</string>
			<string>datangChina</string>
			<string>datangChina1</string>
			<string>datangChina6</string>
		</array>
	</dict>
	<dict>
		<key>taobaoConnect</key>
		<string></string>
		<key>phoneNumber</key>
		<string></string>
		<key>origionalPrice</key>
		<string>市场价：¥88.88</string>
		<key>detailMessage</key>
		<string>2.06-5.01 新茶上市！接受预定，在线支付更便宜。赶紧下单吧！亲~ </string>
		<key>imageurl</key>
		<string>tea5</string>
		<key>imageNameArr</key>
		<array>
			<string>datangChina5</string>
			<string>datangChina</string>
			<string>datangChina1</string>
			<string>datangChina6</string>
		</array>
	</dict>
	<dict>
		<key>taobaoConnect</key>
		<string></string>
		<key>phoneNumber</key>
		<string></string>
		<key>origionalPrice</key>
		<string>市场价：¥88.88</string>
		<key>detailMessage</key>
		<string>2.06-5.01 新茶上市！接受预定，在线支付更便宜。赶紧下单吧！亲~ </string>
		<key>imageurl</key>
		<string>tea5</string>
		<key>imageNameArr</key>
		<array>
			<string>datangChina5</string>
			<string>datangChina</string>
			<string>datangChina1</string>
			<string>datangChina6</string>
		</array>
	</dict>
	<dict>
		<key>taobaoConnect</key>
		<string></string>
		<key>phoneNumber</key>
		<string></string>
		<key>origionalPrice</key>
		<string>市场价：¥88.88</string>
		<key>detailMessage</key>
		<string>2.06-5.01 新茶上市！接受预定，在线支付更便宜。赶紧下单吧！亲~ </string>
		<key>imageurl</key>
		<string>tea5</string>
		<key>imageNameArr</key>
		<array>
			<string>datangChina5</string>
			<string>datangChina</string>
			<string>datangChina1</string>
			<string>datangChina6</string>
		</array>
	</dict>
	<dict>
		<key>taobaoConnect</key>
		<string></string>
		<key>phoneNumber</key>
		<string></string>
		<key>origionalPrice</key>
		<string>市场价：¥88.88</string>
		<key>detailMessage</key>
		<string>2.06-5.01 新茶上市！接受预定，在线支付更便宜。赶紧下单吧！亲~ </string>
		<key>imageurl</key>
		<string>tea5</string>
		<key>imageNameArr</key>
		<array>
			<string>datangChina5</string>
			<string>datangChina</string>
			<string>datangChina1</string>
			<string>datangChina6</string>
		</array>
	</dict>
	<dict>
		<key>taobaoConnect</key>
		<string></string>
		<key>phoneNumber</key>
		<string></string>
		<key>origionalPrice</key>
		<string>市场价：¥88.88</string>
		<key>detailMessage</key>
		<string>2.06-5.01 新茶上市！接受预定，在线支付更便宜。赶紧下单吧！亲~ </string>
		<key>imageurl</key>
		<string>tea5</string>
		<key>imageNameArr</key>
		<array>
			<string>datangChina5</string>
			<string>datangChina</string>
			<string>datangChina1</string>
			<string>datangChina6</string>
		</array>
	</dict>
</array>
</plist>
