<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>company</key>
		<string>龙泉鼎升机械有限公司</string>
		<key>career</key>
		<string>机械设备售后服务工程师</string>
		<key>salary</key>
		<string>面议</string>
		<key>sendTime</key>
		<string>2016-02-16</string>
		<key>careerDetail</key>
		<string>机械设备售后服务工程师//售后服务人员：主要从事机械设备售后服务保养维修工作，要求刻苦耐劳，有上进心，具备机电一体化基础知识，持有驾驶C照优先。//待遇：年薪4-5万，单休，国定假日全。</string>
	</dict>
	<dict>
		<key>company</key>
		<string></string>
		<key>career</key>
		<string></string>
		<key>salary</key>
		<string></string>
		<key>careerDetail</key>
		<string></string>
		<key>personsNumber</key>
		<string></string>
		<key>certificate</key>
		<string></string>
		<key>experience</key>
		<string></string>
		<key>efficacyTime</key>
		<string></string>
		<key>companyDetail</key>
		<string></string>
		<key>companyDetail_peopleTotalnum</key>
		<string></string>
		<key>companyDetail_industry</key>
		<string></string>
		<key>companyDetail_property</key>
		<string></string>
		<key>companyDetail_introduce</key>
		<string></string>
		<key>companyDetail_email</key>
		<string></string>
		<key>companyDetail_connectLeader</key>
		<string></string>
		<key>companyDetail_otherCareers</key>
		<array/>
	</dict>
	<dict>
		<key>company</key>
		<string></string>
		<key>career</key>
		<string></string>
		<key>salary</key>
		<string></string>
		<key>careerDetail</key>
		<string></string>
		<key>personsNumber</key>
		<string></string>
		<key>certificate</key>
		<string></string>
		<key>experience</key>
		<string></string>
		<key>efficacyTime</key>
		<string></string>
		<key>companyDetail</key>
		<string></string>
		<key>companyDetail_peopleTotalnum</key>
		<string></string>
		<key>companyDetail_industry</key>
		<string></string>
		<key>companyDetail_property</key>
		<string></string>
		<key>companyDetail_introduce</key>
		<string></string>
		<key>companyDetail_email</key>
		<string></string>
		<key>companyDetail_connectLeader</key>
		<string></string>
		<key>companyDetail_otherCareers</key>
		<array/>
	</dict>
	<dict>
		<key>company</key>
		<string></string>
		<key>career</key>
		<string></string>
		<key>salary</key>
		<string></string>
		<key>careerDetail</key>
		<string></string>
		<key>personsNumber</key>
		<string></string>
		<key>certificate</key>
		<string></string>
		<key>experience</key>
		<string></string>
		<key>efficacyTime</key>
		<string></string>
		<key>companyDetail</key>
		<string></string>
		<key>companyDetail_peopleTotalnum</key>
		<string></string>
		<key>companyDetail_industry</key>
		<string></string>
		<key>companyDetail_property</key>
		<string></string>
		<key>companyDetail_introduce</key>
		<string></string>
		<key>companyDetail_email</key>
		<string></string>
		<key>companyDetail_connectLeader</key>
		<string></string>
		<key>companyDetail_otherCareers</key>
		<array/>
	</dict>
</array>
</plist>
